@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-oswald: "Oswald", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-fit-primary: #c2f800;
  --color-fit-secondary: #222630;
  --color-fit-theme: #0c0d10;
  --color-fit-accent: #9ca3af;
  --color-fit-white: #ffffff;
  --color-fit-black: #000;
}
@layer components {
  .nav-link {
    @apply text-fit-accent  transition  duration-300 ease-in-out text-xs hover:bg-fit-primary/15 hover:text-fit-primary hover:font-bold w-21.75 rounded-2xl  py-2 px-4 flex justify-center;
  }
}
